<div id="guide" class="guide" ng-if="switch.isGuide">
    <div class="guide_close" onclick="">
        <img src="files/guide_close.png" alt="">
    </div>
    <div class="guide_title">
        <p class="ng-binding">邦邦WEB版&nbsp;&nbsp;&nbsp;&nbsp;办公好帮手</p>
    </div>
    <div class="guide_desc">
        <div class="guide_list">
            <div class="guide_img">
                <img src="files/guide_green.png" alt="">
            </div>
            <div class="guid_info">
                <span class="info_name ng-binding">在线聊天</span>

                <p class="info_desc ng-binding">与手机端时刻同步</p>
            </div>
        </div>
        <div class="guide_list">
            <div class="guide_img">
                <img src="files/guide_blue.png" alt="">
            </div>
            <div class="guid_info">
                <span class="info_name ng-binding">发送文件</span>

                <p class="info_desc ng-binding">更加便捷</p>
            </div>
        </div>
        <div class="guide_list">
            <div class="guide_img">
                <img src="files/guide_orange.png" alt="">
            </div>
            <div class="guid_info">
                <span class="info_name ng-binding">查看好友资料</span>

                <p class="info_desc ng-binding">随时发起聊天</p>
            </div>
        </div>
    </div>
    <div class="guide_gif">
        <img src="files/guide.gif" alt="">
    </div>
</div>